.header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    animation: fadeIn 1.5s ease-in;
  }
  .header-title {
    font-size: 2em;
  }
  
  .header-subtitle {
    font-size: 1.2em;
    opacity: 0.8;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  .contact-info {
    margin-bottom: 20px;
    font-size: 1em;
  }
  
  .contact-info a {
    color: #0073e6;
    text-decoration: none;
  }

  .mar{
    margin-bottom: 3rem;

  }
